<head>
	<link rel="stylesheet" href="/public/assets/stylesheets/project_form.css" />
</head>

															
<div id="creation_projet">
	<input class="input-projectName" placeholder="Nommez votre projet" requied="true" ng-model="projectForm.public.projectName"></input>

		
	<aside>
		<div class="case">			
		
		<!-- Competences -->
		<div>
		<form ng-submit="addCompetence(register.newCompetenceToAdd)">
			<input ng-model="register.newCompetenceToAdd" placeholder="Compétences nécessaires au projet" />
			<button type="submit" class="fa fa-check" ></button>
			<div ng-show="register.newCompetenceToAdd !== '' ">
				<ul class="show-data">
					<li ng-repeat="competence in competences | filter : register.newCompetenceToAdd" ng-click="addCompetence(competence)">{{competence}}</li>
				</ul>
			</div>
		</form>
		</div>
		<div>
			<ul class="all-data">
				<li ng-repeat="competence in formCompetences">
					<i class="fa fa-times" ng-click="removeCompetence(competence)"></i>
					<span>{{competence}}</span>
				</li>
			</ul>
		
		</div>
		
		<!-- Theme d'interet -->
		<div>
		<form ng-submit='addTheme(register.newThemeToAdd)'>
			<input ng-model="register.newThemeToAdd" placeholder="Thèmes du projet"/>
			<button type="submit" class="fa fa-check"></button>
			<div ng-show="register.newThemeToAdd !== '' ">
				<ul class="show-data">
					<li ng-repeat="theme in themes | filter : register.newThemeToAdd" ng-click="addTheme(theme)">{{theme}}</li>
				</ul>
			</div>
		</form >
		</div>
		
		<div>			
			<ul class="all-data">
				<li ng-repeat="interest in formThemes">
					<i class="fa fa-times" ng-click="removeTheme(interest)"></i>
					<span>{{interest}}</span>
				</li>
			</ul>
		</div>
		
		</div>

	</aside>
	
	<article id="presentation">

			<textarea ui-tinymce class="textarea" id='textarea-summary' placeholder="Court résumé sur le projet" 
				ng-Minlenght="50" ng-Maxlength="500" requied="true" ng-model="projectForm.public.summary">				
			</textarea>
			
			<textarea ui-tinymce class="textarea" id='textarea-presentation' placeholder="Présentation du projet" 
				 ng-model="projectForm.public.presentation">				
			</textarea>
			
	</article>
	
	
	<button id="annuler">Annuler</h3>	
	<button id="Submit" ng-click="save()">Submit</h3>	
</div>
