/* Page Principale*/

section{
	background-color: rgba(0,0,0,0);
	box-shadow: none;
}

#index {
	float: right;
	width: 920px;
	min-height: 900px;
	position: relative;
	top: 100px;
	text-align : justify;
	z-index : 1;
	
	border-radius: 10px;
	box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.6);
}

#page_accueil {
	float: right;
	width: 920px;
	min-height: 900px;
	position: relative;
	top: 100px;
	text-align : justify;
	z-index : 1;
}

/*Tableau images*/

.ligne{
	margin: 0px 0px 50px 0px;
	height: 250px;
	background: linear-gradient(to bottom, rgba(190, 190, 190, 0.8), rgba(240,240,240,0.5));
	padding: 0px 10px;
	border-radius : 5px;
}

.ligne h2{
	margin-bottom : 20px;
	padding-top: 10px;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	color: black;
}

.ligne li{
	display : inline-block;
	margin: 10px 10px;
	border: solid;
	height : 160px;
}


.image{
	margin:auto;
	width:150px;
	height : 120px;
	max-height: 180px;
	z-index : 3;
	overflow : hidden;
	backface-visibility: hidden;
	-webkit-backface-visibility :hidden;
	transition : all 400ms 100ms;
}

.image img:hover {
	transform : scale(1.1);
	transition: all 400ms ease;
}

.text {
	width: 150px;
	height : 43px;
	font-size: 13px;
	z-index : 4;
	border-radius :2px 2px 0px 0px;
	background-color: black;
	overflow : hidden;
	background : linear-gradient(to bottom, rgba(170, 170, 170, 0.8), rgba(120,120,120,0.8));
}

.text h3 {
	padding: 10px 0px;
	text-align: center;
}

	/* Titre et onglets*/

#titre_projet {
	display: block;
	margin-top: 10px;
}

#menu {
	width: 920px;
	height: 30px;
	margin-top: 10px;
	background-color: rgba(125, 125, 125, 0.8);
	z-index: 3;
}

.bouton {			/* Maximum 10boutons */
	display: block-inline;
	width: 90px;
	height: 30px;
	margin: 0px 1px;
	text-align: center;
}

.bouton:hover {
	height : 60px;
	padding-top: 30px;
}

	/* Reste de la page*/
article{
	width: 552px;
	margin : 15px;
}

aside{	
	display: block-inline;
		vertical-align: top;
	float: right;
	text-align: left;
	width: 320px;
	padding : 0.5%;
	margin : 25px 15px;
}

.case{
	display: block-inline;
	background-color : #f3ebd1;
	padding : 15px;
	margin-bottom : 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 1px rgba(119, 119, 119, 0.6);				
}