* {
	margin: auto;
	font-family:  Trebuchet MS, Arial, sherif;
	text-align : justify;
}
	
a {
	text-decoration : none;
	color : black
}
	
body {
	background: linear-gradient(to right, rgba(178, 190, 190, 0.8), rgba(240, 240, 240, 0.3), rgba(178, 190, 190, 0.8));
	font-size: 1em;
	height : 100%;
}

#page{
	min-height: 100%;
	margin: auto;
		margin-bottom : 100px;
	padding-top: 25px;
	width: 1200px;
}

/* Header*/

header {
	width: 100%;
	min-width: 920px;
	height: 70px;
	background-color: rgba(230, 230, 230, 0.8);
	z-index : 2;
	position: fixed;
	top: 0px;
	border-radius: 0px 0px 10px 10px;
	box-shadow: 0px 0px 10px 5px rgba(119, 119, 119, 0.7);				
}

header h1 {
	width : 300px;
	text-align: center;
	size: 50px;
	line-height: 80px;
	height: 80px;
	float : left;
}

header a {
	text-decoration: none;
	color: black;
}

#langue {
	display : inline;
	float: right;
	margin : 45px 10px 0px 10px;
}

/* Navigateur */

nav {
	float: left;
	min-height: 250px;
	width: 250px;
	position: fixed;
	top: 125px;
}

.bloc_nav {
	display: block;
	margin-bottom : 30px;
	background: white;
	padding : 10px;
	border-radius: 10px;	
	box-shadow: 0px 0px 10px 5px rgba(119, 119, 119, 0.7);				
}

.recherche {
	width: 120px;
	margin : 0px 0px 0px 15px;
}

#connexion{
	display: none;
}

#connexion input[type="text"] {
	color: silver;
	font-style:italic;
}

nav h3 {
	display: block;
	margin: 10px;
	text-align: center;
}

nav h3 a {
	text-decoration: none;
	color : black;
}

nav ul {
	background: rgba(100,100,100,0.9);
	margin: 25px 0px 10px 15px;
	padding: 0;
	width: 210px;
	padding-left: 15px;
}

nav li {
	display: block;
	margin: 0px;
	padding: 0px;
	height: 25px;
	width: 210px;
	line-height: 25px;
	text-decoration: none;
	text-indent: 5px;
	background: white;
	color: gray;
}

nav li.liste, nav li.liste:hover, nav li.liste:visited, nav li.liste:active, nav a{
	color: gray;
	display: block;
	text-decoration: none;
}

nav li.liste:hover {
	text-indent: 10px;
	color: black;
}

nav a:hover{
	color: black;
}

nav li.liste:hover {
	background: rgba(255,255,255,0.5);
}


/* Page Principale*/

section {
	float: right;
	width: 920px;
	min-height: 900px;
	position: relative;
	margin-bottom: 100px;
	top: 100px;
	background-color: #ffffff;
	text-align : justify;
	z-index : 1;
	
	
	border-radius: 10px;
	box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.6);				
}
	
h1{
	font-size: 1.9em;		
	font-weight: bold;		
	text-align: center;		
}

h2{
	font-size: 1.5em;
	font-weight: bold;
	text-align : center;
}

h3{
	color: black;
	font-size: 1.3em;
	font-weight: bold;
}

/* barre d'outil*/

#barre {
	display : inline-block;
	position : fixed;
		top : 200px;
		right : 0px;
	min-height : 350px;
	width : 60px;	
	margin-right : 20px;
	
	border-radius : 10px;
	background : linear-gradient(to left, rgba(170, 170, 170, 0.3), rgba(120,120,120,0.3));
	box-shadow : 1px 1px 1px 1px rgba(170,170,170,0.3) inset,
				1px 1px 1px 1px rgba(10,10,10,0.3);
	transition : all 400ms 100ms;	/*La barre met 100ms a revenir à l'état normal*/
}

#barre:hover {
	transform: scale(1.01);
	background : linear-gradient(to left, rgba(170, 170, 170, 0.8), rgba(120,120,120,0.8));
	box-shadow : 1px 1px 1px 1px rgba(170,170,170,0.8) inset,
				1px 1px 1px 1px rgba(10,10,10,0.8);
	transition: all 400ms ease;
}

#barre ul {
	padding:10px 0px;
}

#barre li {
	cursor: pointer;
	list-style-type : none;
	height : 60px;
	width : 60px;
	margin-top: 5px;
	transition: all 300ms 100ms;
	opacity : 0.8;
}

#barre li:hover, #barre li:focus {
	transform: scale(1.4);
	opacity: 1;
	padding:10px 5px;
	transition: all 300ms;
}

/* footer */

.push {
	clear:both;
}

footer{
	border: 1px solid black;
	width: 100%;
	min-width: 920px;
	height: 100px;
}