section h1 {
	margin : 20px;
}

legend {
	background : linear-gradient(to bottom, rgba(80,80,80,1), rgba(40,40,40, 1));
	text-shadow : 0px 0px 1px white;
	color : white;
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 10px;
}

/* Aside */
#synthese {
	display : inline-block;
	float : right;
	margin : 35px 25px 35px 0px;
	padding: 20px 0px;
	text-align: center;
}

#compte{
	margin-top:20px;
}

#article {
	float : left;
	width : 530px;
	
	margin : 20px;
	padding-left : 10px;
}

/* Positionnement des bulles d'aide */
#formulaire span{
	position : absolute;
	background : linear-gradient(to bottom, rgba(15,150,150,0.5), rgba(10,90,90,0.6));
	opacity : 0;
	transform:scale(0);
	transition:all 120ms 100ms;
	display: inline-block;
	margin: -5px 0px 0px 20px;
	border-radius: 8px 8px 8px 8px;
	width: 243px;
	font-size: 0.6em;
	padding: 5px;
 }

 /* Apparition des bulles */
 #formulaire  input:hover + span, #formulaire textarea:hover + span{
    opacity : 1;
	transform: scale(1);
}

fieldset {
	width: 600px;
	margin: 10px;
	background : linear-gradient(to bottom, rgba(210,210,210,1), rgba(255,255,255,1));
}

#donnees_perso label {
	display : inline-block;
	padding : 0px 3px;
	background : linear-gradient(to bottom, rgba(80,80,80,1), rgba(40,40,40, 1));
	color : rgba(240, 240, 240, 1);
	border-radius : 3px 0px 0px 3px;
}

#donnees_perso input {
	display : inline-block;
	border-radius : 0px 3px 3px 0px;
}

#submit {
	font-size: 1.2em;
	padding: 5px;
	margin-left : 250px;
	background : linear-gradient(to bottom, rgba(80,80,80,1), rgba(40,40,40, 1));
	color : rgba(240, 240, 240, 1);
	text-shadow: 0px 0px 1px white;
	border-radius : 8px 8px 8px 8px;
}

#submit:hover {
	color : white;
	text-shadow: 0px 0px 3px white;
}

/* Photo */

#droppable {
	width : 225px;
	height : 225px;
	border : dashed;
}

#thumbnail{
	width: 180px;
	overflow: hidden;
}

canvas {
	border: 1px solid;
}