<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	<link rel="stylesheet" href="/public/stylesheets/commun.css" />
	<title> <%= title %> </title>

</head>

<body>
	
	<header>
		<p id="langue"><a href="">FR</a> | <a href="">EN</a></p>
		<h1> <a href="/"> Gathering </a></h1>
	</header>
	
	<div id="barre">
		<ul>
			<% if (user.userFirstName === "aymeric") {%>
			<li><a href="/project_gathering"><img src="/public/images/logo_<%=user.userFirstName%>.png" alt="" /></a></li>
			<% } else {%>
			<li><img src="/public/images/logo.png" alt="" /></li>
			<% }%>
			<li><img src="/public/images/logo.png" alt="" /></li>
			<li><img src="/public/images/logo.png" alt="" /></li>
			<li><img src="/public/images/logo.png" alt="" /></li>
			<li><img src="/public/images/logo.png" alt="" /></li>
		</ul>
	</div>
	
	<div id="page">
	
		<nav>
			<div class="bloc_nav">
				<h3> <%= user.userFirstName %> </h3>
				<ul>
					<li class="liste"> <a href="/index"> Accueil </a> </li>
					<li class="liste"> <a href="/projects_liste"> Mes projets </a> </li>
					<li class="liste"> <a href="/identite_statique"> Mon compte </a> </li>
					<li class="liste" id="click" style="cursor:pointer"> Style  </li>
						<div id="colorer" style="display:none">
						<li> <input class="color" value="66ff00" onchange="color1=this.color.toString(); updateGradient()"/></li>
						<li> <input class="color" value="66ff00" onchange="color2=this.color.toString(); updateGradient()"/></li>
						</div>
					<li class="liste"> <a href="/doLogout"> Se déconnecter </a> </li>	
				</ul>
			</div>					
			<div class="bloc_nav">
				<h3> Recherche </h3>
					<form name="search_project" action="/doSearchProject" method="post">	
						<span class="liste"><input type="search" name="tag" class="recherche"> </span>
						<span class="liste"><button type="submit">Projet</button> </span></br>
					</form>
					<form name="search_user" action="/doSearchUser" method="post">
						<span class="liste"><input type="search" name="tag" class="recherche"> </span>
						<span class="liste"><button type="submit">Utilisateur</button> </span></br>
					</form>				
			</div>			
		</nav>
		<section>
		<%- body %>
		</section>
		<div class="push"></div>
	</div>
	
	<footer>
		<!--&nbsp;-->
	</footer>

	<!-- Script -->
	<script src="/public/javascripts/jquery/jquery.js"></script>
	<script src="/public/javascripts/jquery/jquery-ui.js"></script>
	<script src="/public/javascripts/commun.js"></script>
	<script src="/public/javascripts/jscolor/jscolor.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/public/javascripts/chat/chat.js"></script>
	


</body>		
</html>
