<head>
<link rel="stylesheet" href="/public/stylesheets/accueil.css" />
</head>


<!-- 1ière ligne -->			


<ul class="ligne" class="gradient">
<h2>Les derniers projets</h2>
	<li>						
		<a href="/projet_gathering">
			<div class="image">
				<img src="/public/images/gathering.jpg" alt="logo_projet"/>
			</div>	
			<div class="text">
				<h3>Titre du projet</h3>
					<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum vel elit et tincidunt. Nulla et enim ut purus varius lacerat. Nullam a pharetra nibh. Phasellus lectus urna, tempus quis dictum vitae, venenatis ac neque. Suspendisse augue urna, sodales eget arcu eget, facilisis euismod risus. Curabitur vel pretium dui. Vestibulum commodo libero tortor, ac molestie felis porttitor ut. Morbi euismod viverra placerat</p>
			</div>
		</a>
	</li>
			
	<li>						
		<a href="/projet_gatherer">
			<div class="image">
				<img src="/public/images/nodejs.jpg" alt="logo_projet"/>
			</div>	
			<div class="text">
				<h3>Titre du projet</h3>
					<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum vel elit et tincidunt. Nulla et enim ut purus varius lacerat. Nullam a pharetra nibh. Phasellus lectus urna, tempus quis dictum vitae, venenatis ac neque. Suspendisse augue urna, sodales eget arcu eget, facilisis euismod risus. Curabitur vel pretium dui. Vestibulum commodo libero tortor, ac molestie felis porttitor ut. Morbi euismod viverra placerat</p>
			</div>
		</a>
	</li>		
	
	<li>						
		<a href="/projet_gatherer">
			<div class="image">
				<img src="/public/images/nodejs.jpg" alt="logo_projet"/>
			</div>	
			<div class="text">
				<h3>Titre du projet</h3>
					<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum vel elit et tincidunt. Nulla et enim ut purus varius lacerat. Nullam a pharetra nibh. Phasellus lectus urna, tempus quis dictum vitae, venenatis ac neque. Suspendisse augue urna, sodales eget arcu eget, facilisis euismod risus. Curabitur vel pretium dui. Vestibulum commodo libero tortor, ac molestie felis porttitor ut. Morbi euismod viverra placerat</p>
			</div>
		</a>
	</li>
	
	<li>						
		<a href="/projet_gatherer">
			<div class="image">
				<img src="/public/images/nodejs.jpg" alt="logo_projet"/>
			</div>	
			<div class="text">
				<h3>Titre du projet</h3>
					<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum vel elit et tincidunt. Nulla et enim ut purus varius lacerat. Nullam a pharetra nibh. Phasellus lectus urna, tempus quis dictum vitae, venenatis ac neque. Suspendisse augue urna, sodales eget arcu eget, facilisis euismod risus. Curabitur vel pretium dui. Vestibulum commodo libero tortor, ac molestie felis porttitor ut. Morbi euismod viverra placerat</p>
			</div>
		</a>
	</li>
		
	<li>						
		<a href="/projet_gatherer">
			<div class="image">
				<img src="/public/images/nodejs.jpg" alt="logo_projet"/>
			</div>	
			<div class="text">
				<h3>Titre du projet</h3>
					<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum vel elit et tincidunt. Nulla et enim ut purus varius lacerat. Nullam a pharetra nibh. Phasellus lectus urna, tempus quis dictum vitae, venenatis ac neque. Suspendisse augue urna, sodales eget arcu eget, facilisis euismod risus. Curabitur vel pretium dui. Vestibulum commodo libero tortor, ac molestie felis porttitor ut. Morbi euismod viverra placerat</p>
			</div>
		</a>
	</li>		
</ul>

<!-- 2ième ligne -->	
				
<ul class="ligne" class="gradient">
<h2>Projets terminés</h2>
	<li>						
		<a href="/projet_gatherer">
			<div class="image">
				<img src="/public/images/nodejs.jpg" alt="logo_projet"/>
			</div>	
			<div class="text">
				<h3>Titre du projet</h3>
					<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum vel elit et tincidunt. Nulla et enim ut purus varius lacerat. Nullam a pharetra nibh. Phasellus lectus urna, tempus quis dictum vitae, venenatis ac neque. Suspendisse augue urna, sodales eget arcu eget, facilisis euismod risus. Curabitur vel pretium dui. Vestibulum commodo libero tortor, ac molestie felis porttitor ut. Morbi euismod viverra placerat</p>
			</div>
		</a>
	</li>
			
	<li>						
		<a href="/projet_gatherer">
			<div class="image">
				<img src="/public/images/nodejs.jpg" alt="logo_projet"/>
			</div>	
			<div class="text">
				<h3>Titre du projet</h3>
					<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum vel elit et tincidunt. Nulla et enim ut purus varius lacerat. Nullam a pharetra nibh. Phasellus lectus urna, tempus quis dictum vitae, venenatis ac neque. Suspendisse augue urna, sodales eget arcu eget, facilisis euismod risus. Curabitur vel pretium dui. Vestibulum commodo libero tortor, ac molestie felis porttitor ut. Morbi euismod viverra placerat</p>
			</div>
		</a>
	</li>		
	
	<li>						
		<a href="/projet_gatherer">
			<div class="image">
				<img src="/public/images/nodejs.jpg" alt="logo_projet"/>
			</div>	
			<div class="text">
				<h3>Titre du projet</h3>
					<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum vel elit et tincidunt. Nulla et enim ut purus varius lacerat. Nullam a pharetra nibh. Phasellus lectus urna, tempus quis dictum vitae, venenatis ac neque. Suspendisse augue urna, sodales eget arcu eget, facilisis euismod risus. Curabitur vel pretium dui. Vestibulum commodo libero tortor, ac molestie felis porttitor ut. Morbi euismod viverra placerat</p>
			</div>
		</a>
	</li>
	
	<li>						
		<a href="/projet_gatherer">
			<div class="image">
				<img src="/public/images/nodejs.jpg" alt="logo_projet"/>
			</div>	
			<div class="text">
				<h3>Titre du projet</h3>
					<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum vel elit et tincidunt. Nulla et enim ut purus varius lacerat. Nullam a pharetra nibh. Phasellus lectus urna, tempus quis dictum vitae, venenatis ac neque. Suspendisse augue urna, sodales eget arcu eget, facilisis euismod risus. Curabitur vel pretium dui. Vestibulum commodo libero tortor, ac molestie felis porttitor ut. Morbi euismod viverra placerat</p>
			</div>
		</a>
	</li>
		
	<li>						
		<a href="/projet_gatherer">
			<div class="image">
				<img src="/public/images/nodejs.jpg" alt="logo_projet"/>
			</div>	
			<div class="text">
				<h3>Titre du projet</h3>
					<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum vel elit et tincidunt. Nulla et enim ut purus varius lacerat. Nullam a pharetra nibh. Phasellus lectus urna, tempus quis dictum vitae, venenatis ac neque. Suspendisse augue urna, sodales eget arcu eget, facilisis euismod risus. Curabitur vel pretium dui. Vestibulum commodo libero tortor, ac molestie felis porttitor ut. Morbi euismod viverra placerat</p>
			</div>
		</a>
	</li>		
</ul>

	<!-- 3ième ligne -->	
				
<ul class="ligne" class="gradient">
<h2>Les coups de coeur</h2>
	<li>						
		<a href="/projet_gatherer">
			<div class="image">
				<img src="/public/images/nodejs.jpg" alt="logo_projet"/>
			</div>	
			<div class="text">
				<h3>Titre du projet</h3>
					<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum vel elit et tincidunt. Nulla et enim ut purus varius lacerat. Nullam a pharetra nibh. Phasellus lectus urna, tempus quis dictum vitae, venenatis ac neque. Suspendisse augue urna, sodales eget arcu eget, facilisis euismod risus. Curabitur vel pretium dui. Vestibulum commodo libero tortor, ac molestie felis porttitor ut. Morbi euismod viverra placerat</p>
			</div>
		</a>
	</li>
			
	<li>						
		<a href="/projet_gatherer">
			<div class="image">
				<img src="/public/images/nodejs.jpg" alt="logo_projet"/>
			</div>	
			<div class="text">
				<h3>Titre du projet</h3>
					<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum vel elit et tincidunt. Nulla et enim ut purus varius lacerat. Nullam a pharetra nibh. Phasellus lectus urna, tempus quis dictum vitae, venenatis ac neque. Suspendisse augue urna, sodales eget arcu eget, facilisis euismod risus. Curabitur vel pretium dui. Vestibulum commodo libero tortor, ac molestie felis porttitor ut. Morbi euismod viverra placerat</p>
			</div>
		</a>
	</li>		
	
	<li>						
		<a href="/projet_gatherer">
			<div class="image">
				<img src="/public/images/nodejs.jpg" alt="logo_projet"/>
			</div>	
			<div class="text">
				<h3>Titre du projet</h3>
					<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum vel elit et tincidunt. Nulla et enim ut purus varius lacerat. Nullam a pharetra nibh. Phasellus lectus urna, tempus quis dictum vitae, venenatis ac neque. Suspendisse augue urna, sodales eget arcu eget, facilisis euismod risus. Curabitur vel pretium dui. Vestibulum commodo libero tortor, ac molestie felis porttitor ut. Morbi euismod viverra placerat</p>
			</div>
		</a>
	</li>
	
	<li>						
		<a href="/projet_gatherer">
			<div class="image">
				<img src="/public/images/nodejs.jpg" alt="logo_projet"/>
			</div>	
			<div class="text">
				<h3>Titre du projet</h3>
					<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum vel elit et tincidunt. Nulla et enim ut purus varius lacerat. Nullam a pharetra nibh. Phasellus lectus urna, tempus quis dictum vitae, venenatis ac neque. Suspendisse augue urna, sodales eget arcu eget, facilisis euismod risus. Curabitur vel pretium dui. Vestibulum commodo libero tortor, ac molestie felis porttitor ut. Morbi euismod viverra placerat</p>
			</div>
		</a>
	</li>
		
	<li>						
		<a href="/projet_gatherer">
			<div class="image">
				<img src="/public/images/nodejs.jpg" alt="logo_projet"/>
			</div>	
			<div class="text">
				<h3>Titre du projet</h3>
					<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum vel elit et tincidunt. Nulla et enim ut purus varius lacerat. Nullam a pharetra nibh. Phasellus lectus urna, tempus quis dictum vitae, venenatis ac neque. Suspendisse augue urna, sodales eget arcu eget, facilisis euismod risus. Curabitur vel pretium dui. Vestibulum commodo libero tortor, ac molestie felis porttitor ut. Morbi euismod viverra placerat</p>
			</div>
		</a>
	</li>		
</ul>


<script src="/public/javascripts/accueil.js"></script>
