<head>
<link rel="stylesheet" href="/public/stylesheets/project.css" />
</head>
<html>
	<div id="titre">
	<h1 id="titre_projet">Gatherer</h1>
	<button id="work" type="button"></button>
	</div>
	
	<div id="menu">
		<input class="bouton active" type="button" value='presentation' onclick='afficher(this, "presentation")'/>	<!-- actionne "afficher" de js quand on clique dessus -->
		<input class="bouton" type="button" value='forum' onclick='afficher(this, "forum")'/>
		<input class="bouton" type="button" value='diagramme' onclick='afficher(this, "diagramme")'/>
		<input class="bouton" type="button" value='agenda' onclick='afficher(this, "agenda")'/>
		<input class="bouton" type="button" value='dropdoc' onclick='afficher(this, "dropdoc")'/>
		<input class="bouton" type="button" value='dispo' onclick='afficher(this, "dispo")'/>
		<input class="bouton" type="button" value='discussion' onclick='afficher(this, "discussion")'/>			
		<input class="bouton" type="button" value='diaporama' onclick='afficher(this, "diaporama")'/>			
	</div>
		
	<aside>
		<div class="case">
			<canvas id="mon_canvas" width="250" height="80"> 
			<script src="/public/javascripts/canvas.js"></script>
			</canvas>
			
				
				<h3>L'Équipe</h3>
				<div class="accordeon">
					<p><a href="/identite_statique">Elodie<span><img src="/public/images/photos/elodie.jpg" alt="" /></span></a></p>
					<p><a href="/identite_statique">Jean-Baptiste<span><img src="/public/images/photos/jb.jpg" alt="" /></span></a></p>
					<p><a href="/identite_statique">Guillaume<span><img src="/public/images/photos/guillaume.jpg" alt="" /></span></a></p>
					<p><a href="/identite_statique">François<span><img src="/public/images/photos/francois.jpg" alt="" /></span></a></p>
					<p><a href="/identite_statique">Aymeric<span><img src="/public/images/photos/aymeric.jpg" alt="" /></span></</a></p>
				</div>

				<h3>Ecoles</h3>
				<div class="accordeon">
					<p><a href="">Centrale Lyon<span><img src="/public/images/ecoles/ecl.png" alt="" /></a></span></p>	
				</div>
			
				<h3>Thèmes</h3>
				<div class="accordeon">
					<p>Informatique</p>
					<p>Gestion de projet</p>
					<p>Projet scolaire</p>
				</div>
			
			
				<h3>Recherche</h3>
				<div class="accordeon">
					<p>L'amour</p>
					<p>Developpeur node</p>
				</div>
			
		</div>

	</aside>
	
	<article id="presentation">

		<div id="video">
			<video controls width="100%" ⁪height="100%">
			<source src="/public/videos/Montage.mp4" />
			<source src="/public/videos/Montage.mov" />
			</video⁪⁪>
		</div>
			
		<h2 id="intro"> Une ou deux lignes sur le projet sous la vidéo</h2>
		
			<!-- Éditeur de texte -->
	
		<form method="post" class="form" id="form-presentation">
			<textarea class="textarea" id='textarea-presentation' name='textarea-presentation'>
			</textarea>
		</form>
		<div class="contenu" id="contenu-presentation">
		
				<!-- Paragraphe de présentation du projet -->
		
			<h1>Gatherer</h1>
			<p>Vous pouvez écrire ici une rapide descritpion de votre projet</p>
		
		
				<!-- Paragraphe de présentation de l'équipe -->
		
			<h2>Présentation de l'équipe</h2>
			<p>Nous sommes une équipe de 5 étudiants de l'école d'ingénieur Centrale Lyon <br/>
			Nous sommes tous intéressé par l'informatique et nous apprenons le langage informatique en réalisant ce projet<br/>
			Nous nous retrouvons autour de ce projet à la fois parce qu'il nous permet de mieux comprendre l'informatique, mais aussi pour son contenu.</p>
					

			<!-- Précisions sur le projet -->
				
			<h3> Caractéristiques du projet </h3>
			<p> Dans le cadre de nos études nous réalisons un Projet d'Etude (PE) dont le but est de réaliser un projet viable en 9 mois.<br/>
			En collaboration avec la fondation Mozilla nous souaitons réaliser une application web sur laquelle des individus pourront proposer des projets qui leur tient à coeur,
			tandis que d'autres pourront se présenter pour participer à ces projets.<br/>
			En école d'ingénieur nous sommes en contact avec de nombreuses associations qui proposent des projets, mais cela se limite aux frontière de l'école. 
			Notre objectif est justement de permettre à tout le monde de participer à ces projets. Nous souhaitons mieux profiter des spécialités de chacun ainsi que 
			rassembler des personnes qui ne se seraient pas forcement trouvées autrement.</p>
		
		</div>
		
	</article>	
	
	<article id="forum">
	<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum vel elit et tincidunt. Nulla et enim ut purus varius placerat. Nullam a pharetra nibh. Phasellus lectus urna, tempus quis dictum vitae, venenatis ac neque. Suspendisse augue urna, sodales eget arcu eget, facilisis euismod risus. Curabitur vel pretium dui. Vestibulum commodo libero tortor, ac molestie felis porttitor ut. Morbi euismod viverra placerat.

	Integer vehicula neque vitae metus vehicula, euismod laoreet mauris porta. Quisque congue non erat et pharetra. In tristique dictum massa sed pellentesque. Cras tempus molestie mi et suscipit. Donec imperdiet mollis erat sed luctus. Phasellus adipiscing vitae justo a placerat. Morbi fermentum velit eget laoreet semper. Etiam rhoncus dui sed fermentum convallis. Donec arcu justo, egestas eget iaculis eget, dapibus vel augue. Aenean posuere, lacus eget faucibus porttitor, velit lorem tincidunt turpis, a vulputate elit sapien ut augue. Morbi et mollis sem. </p>
	</article>
	
	<article id="diagramme">	
		<script type="text/javascript" src="/public/javascripts/RGraph/RGraph.common.core.js" ></script>
		<script type="text/javascript" src="/public/javascripts/RGraph/RGraph.common.dynamic.js" ></script>
		<script type="text/javascript" src="/public/javascripts/RGraph/RGraph.gantt.js" ></script>
		<canvas id="cvs" width="1200" height="500">[No canvas support]</canvas>
		<script src="/public/javascripts/gantt.js"></script>
	</article>
	
	<article id="agenda">	
	<p> rien a déclarer </p>	
	</article>
	
	<article id="dropdoc">	
	<p> Ici ce serait cool d'avoir un service d'échange de documents type dropbox </p>
	</article>	
	
	<article id="dispo">
		<form method="post" class="form" id="form-dispo">
			<textarea class="textarea" id='textarea-dispo' name='textarea-dispo'>
			</textarea>
		</form>
		<div class="contenu" id="contenu-dispo">
			<p> Hello World !</p>
		</div>
	</article>	
	
	<article id="discussion">	
	
	</article>	
	
	<article id="diaporama">
		<h1 id="start"> Gatherer </h1>
		<div id="diapo">
		<!-- Start WOWSlider.com -->
		<iframe src="/public/javascripts/diaporama3/diapo3.html" id="diapo1" marginheight="0" marginwidth="0"></iframe>
		<!-- End WOWSlider.com -->

		</div>
	</article>	
	

	<script src="/public/javascripts/jquery/jquery.js"></script>
	<script src="/public/javascripts/jquery/jquery-ui.js"></script>
	<script src="/public/javascripts/tinymce/tinymce.min.js"></script>
	<script src="/public/javascripts/projet.js"></script>
	

	
</html>
