<head>
<link rel="stylesheet" href="/public/stylesheets/projet.css" />
</head>
<html>
	<div id="titre">
	<h1 id="titre_projet"><%=project.projectName%></h1>
	<button id="work" type="button"></button>
	</div>
	
	<div id="menu">
		<input class="bouton active" type="button" value='presentation' onclick='afficher(this, "presentation")'/>	<!-- actionne "afficher" de js quand on clique dessus -->			
	</div>
		
	<aside>
		<div class="case">
			<canvas id="mon_canvas" width="250" height="80"> 
			<script src="/public/javascripts/canvas.js"></script>
			</canvas>
			
				
				<h3>L'Équipe</h3>
				<%for(var i=0; i<project.members.length; i++){%>
					<p><a href="/identite"><%=project.members[i]%><span></span></a></p>
				<% } %>

				<h3>Ecoles</h3>
				<%for(var i=0; i<project.groups.length; i++){%>
					<p><a href=""><%=project.groups[i]%><span></a></span></p>	
				<% } %>
			
				<h3>Thèmes</h3>
				<%for(var i=0; i<project.themes.length; i++){%>
					<p><%=project.themes[i]%></p>
				<% } %>
			
			
				<h3>Recherche</h3>
				<%for(var i=0; i<project.needs.length; i++){%>
					<p><%=project.needs[i]%></p>
				<% } %>

		</div>

	</aside>
	
	<article id="presentation">
		<form method="post" class="form" id="form-presentation">
			<textarea class="textarea" id='textarea-presentation' name='textarea-presentation'>
			</textarea>
		</form>
		<div class="contenu" id="contenu-presentation">
		<%-project.presentation%>
		</div>
	
		<form method="post" class="form" id="form-presentation">
			<textarea class="textarea" id='textarea-presentation' name='textarea-presentation'>
			</textarea>
		</form>
		<div class="contenu" id="contenu-presentation">
		
		
		
		</div>
		
	</article>	
	
	
	

	<script src="/public/javascripts/jquery/jquery.js"></script>
	<script src="/public/javascripts/jquery/jquery-ui.js"></script>
	<script src="/public/javascripts/tinymce/tinymce.min.js"></script>
	<script src="/public/javascripts/projet.js"></script>
	

	
</html>
