<head>
<link rel="stylesheet" href="/public/assets/stylesheets/user.css" />
</head>
<div>

	<article class="col-md-11">
		<ui-view>
	</article>
	
	<nav class="col-md-1" id="manager">
		<ul>
			<li class="fa fa-user" ui-sref="main.connectedUser.profile"></li>
			<li class="fa fa-edit" id="editUser" ng-click="doEditMode()" ui-sref="main.connectedUser.edit"></li>
			<div ng-if="editMode">
				<li class="fa fa-times" id="editStop" ng-click="doEditMode()" ui-sref="main.connectedUser.profile" ></li>
				<li class="fa fa-check" id="editSubmit" ng-click="edit()"></li>
			</div>
			<li class="fa fa-briefcase" ui-sref="main.connectedUser.projects_list"></li>
			<li class="fa fa-envelope" ui-sref="main.connectedUser.mailbox"></li>
		</ul>
	</nav>
</div>

