<head>
<link rel="stylesheet" href="/public/assets/stylesheets/project.css" />
</head>

<h1 id="titre_projet">{{project.public.projectName}}</h1>

<article class="col-md-11">
		<ui-view>
</article>

<aside class="col-md-1">
	<div class="case">				
		<h3>L'Équipe</h3>
		<div ng-repeat="member in project.public.members">
			<p><a href="/identite">{{member.public.firstName}}<span></span></a></p>
		</div>
				
		<h3>Competences</h3>
		<div ng-repeat="competenceProject in project.public.competences">
			<p><a href="">'{{competenceProject.competence}}<span></a></span></p>
		</div>	
	
		<h3>Thèmes</h3>
		<div ng-repeat="themeProject in project.public.themes">
			<p>{{themeProject.theme}}</p>
		</div>
	</div>
</aside>
	

