<head>
<link rel="stylesheet" href="/public/assets/stylesheets/project.css" />
</head>

<h1 id="titre_projet">{{project.public.projectName}}</h1>

<article class="col-md-11">
	<ui-view>
</article>

<aside class="col-md-1">
	<div class="case">				
		<h3>L'Équipe</h3>
		<div ng-repeat="member in project.public.members">
			<a ui-sref="main.user.profile({userId : member._id})"><span>{{member.public.firstName}}</span></a></p>
		</div>
				
		<h3>Competences</h3>
		<div ng-repeat="competenceProject in project.public.competences">
			<span>{{competenceProject.competence}}</span>
		</div>	
	
		<h3>Thèmes</h3>
		<div ng-repeat="themeProject in project.public.themes">
			<span>{{themeProject.theme}}</span>
		</div>
	</div>
</aside>
	

