<head>
<link rel="stylesheet" href="/public/assets/stylesheets/projects_list.css" />
</head>
<html>

<!-- 
		LISTE DE PROJETS
							-->
<div id="liste_projets">
	
	<h1> Projets de {{user.private.mail}}</h1>
	<h1> Projets de {{user.public.projects}}</h1>
	<ul data-liffect="slideBottom" id="liste">
		<li ng-repeat="project in user.public.projects" class="project col-md-3">
			<h3>{{project}}</h3>
			<!-- <a ui-sref="/project/({projectId : project._id})">Lire plus</a> -->
		</li>
	</ul>

	
		<h3 class="modifier" id="creation">	<a href="/project_form">Créer un nouveau projet</a></h3>
	
</div>
	
</html>