<head>
<link rel="stylesheet" href="/public/assets/stylesheets/search_project.css" />
</head>

<article>
	<form id="find_projects">
	<ul>
		<li>
			<ul class="ligne" id="theme">
				<li><input onclick="showDetails(this)" onfocus="this.blur()" value="Informatique" readonly></li>
				<li><input onclick="showDetails(this)" onfocus="this.blur()" value="Art" readonly></li>
				<li><input onclick="showDetails(this)" onfocus="this.blur()" value="Technologie" readonly></li>
				<li><input onclick="showDetails(this)" onfocus="this.blur()" value="Sport" readonly></li>
				<li><input onclick="showDetails(this)" onfocus="this.blur()" value="Entrepreneuriat" readonly></li>
			</ul>
		</li>
			
		<li>
			<ul class="ligne category" id="Informatique">
				<li><input onclick="selectCategory(this)" onfocus="this.blur()"  value="Gathering"></li>
				<li><input onclick="selectCategory(this)" onfocus="this.blur()"  value="Open-source"></li>
				<li><input onclick="selectCategory(this)" onfocus="this.blur()"  value="Web"></li>
				<li><input onclick="selectCategory(this)" onfocus="this.blur()"  value="Infographie"></li>
				<li><input onclick="selectCategory(this)" onfocus="this.blur()"  value="Logiciel"></li>
			</ul>
			<ul class="ligne category" id="Art">
				<li><input onclick="selectCategory(this)" onfocus="this.blur()"  value="Littérature"></li>
				<li><input onclick="selectCategory(this)" onfocus="this.blur()"  value="Cinéma"></li>
				<li><input onclick="selectCategory(this)" onfocus="this.blur()"  value="Musique"></li>
				<li><input onclick="selectCategory(this)" onfocus="this.blur()"  value="Jeu vidéo"></li>
				<li><input onclick="selectCategory(this)" onfocus="this.blur()"  value="Arhitecture"></li>
				<li><input onclick="selectCategory(this)" onfocus="this.blur()"  value="Photographie"></li>
				<li><input onclick="selectCategory(this)" onfocus="this.blur()"  value="Théâtre"></li>
			</ul>
			<ul class="ligne category" id="Technologie">
				<li><input onclick="selectCategory(this)" onfocus="this.blur()"  value="Techno1"></li>
				<li><input onclick="selectCategory(this)" onfocus="this.blur()"  value="Techno2"></li>
				<li><input onclick="selectCategory(this)" onfocus="this.blur()"  value="Techno3"></li>
				<li><input onclick="selectCategory(this)" onfocus="this.blur()"  value="Techno4"></li>
				<li><input onclick="selectCategory(this)" onfocus="this.blur()"  value="Techno5"></li>
			</ul>
			<ul class="ligne category" id="Sport">
				<li><input onclick="selectCategory(this)" onfocus="this.blur()"  value="Football"></li>
				<li><input onclick="selectCategory(this)" onfocus="this.blur()"  value="Escrime"></li>
				<li><input onclick="selectCategory(this)" onfocus="this.blur()"  value="Basket"></li>
				<li><input onclick="selectCategory(this)" onfocus="this.blur()"  value="Dance"></li>
				<li></li>
			</ul>
			<ul class="ligne category" id="Entrepreneuriat">
				<li><input onclick="selectCategory(this)" onfocus="this.blur()"  value="Solidaire"></li>
				<li><input onclick="selectCategory(this)" onfocus="this.blur()"  value="Terroire"></li>
				<li><input onclick="selectCategory(this)" onfocus="this.blur()"  value="Start'Up"></li>
				
			</ul>
		</li>
	</ul>
	
	<li ng-repeat="char in alphabet">
		<span ng-click="filterByAlphabet(char)">{{char}}</span>		<!--Permet de filtrer par ordre alphabetique-->
	</li>
	
	<div id="place">
		
	</div>
	
	</form>
</article>

<ul id='liste'>
			<!-- Ici on accueil les projets et les utilisateurs recherchés-->
		<li ng-repeat="project in projects | filter:query">
		<a class="fiche" ui-sref="main.project({projectId : project._id})">
			<div class="photo"><img src=""></div>
			<ul>
				<li>{{project.projectName}}</li>
			</ul>
		</a>
	</li>
</ul>


	
	<script src="/public/javascripts/view/search_project.js"></script>