<header>
		<div class="row-fluid banniere">
			<div  class="col-md-1">
				<div id="icon-container"  ng-click="isActive = !isActive">
					<i id="icon"></i>
				</div>
			</div>
			<div class="col-md-2">
				<h1> <a href="/"> Gathering	</a></h1>	
			</div>
			
			<div class="col-md-1 col-md-offset-3">
				<button class="cn-button" id="cn-button" ng-click="opened = !opened" ng-blur="opened = false" ng-class="{'cn-button-open' : opened}"><i class=" fa fa-search"></i></button>
				<div class="cn-wrapper" id="cn-wrapper" ng-class="{'opened-nav' : opened}">
				    <ul>
				      <li><a ui-sref="main.search_user"><i class="fa fa-user"></i></a></li>
				      <li><a ui-sref="main.search_project"><i class="fa fa-briefcase"></i></a></li>
				      <li><a href="#"><i class="fa fa-users"></i></a></li>
				     </ul>
				</div>
				<div id="cn-overlay" class="cn-overlay" ng-class="{'on-overlay' : opened}"></div>
			</div>
			
			
		</header>
	
	<!-- Permet à Bootstrap de définir la grille lignes/colonnes sur toute la page -->		
	
		<div class="row-fluid" ng-switch="connected" >
		
			<nav class="sidebar col-md-2"  ng-class="{'sidebar' : !isActive, 'sidebar active' : isActive}" ng-init="isActive = true">	
				<ul ng-switch-when="false">
					<a ui-sref="main.user_form"><li class="navigation-button" > 
						<i class="fa fa-sign-in"></i>
						<span>Créer un compte</span>
						
					</li></a>
					<li class="navigation-button" ng-click="isCollapsed = !isCollapsed"> 
						<i class="fa fa-power-off"></i>
						<span>Se connecter</span>
						
					</li>
					
										
						<form method="post" name="loginForm" ng-submit="login(user)" collapse="isCollapsed" enctype="multipart/form-data" >
							<input class="form-control" type="text" type="email" name="mail" placeholder="Adresse mail" ng-model="user.mail">
							<input class="form-control" type="password" name="password" placeholder="Mot de passe" ng-model="user.password">
							<button class="submit-login" ng-disabled="loginForm.$invalid" type="submit" > 
								<span>Connexion</span>
								<i class="fa fa-arrow-right"></i>
							</button>	
						</form>	
					
				</ul>
				
				<ul ng-switch-when="true">
					<a ui-sref="main.projects_list({userId : currentUser._id})"> <li class="navigation-button"> 
						<i class="fa fa-coffee"></i>
						<span>Mes projets</span>
					</li></a>
					<a ui-sref="main.user.profile({userId : currentUser._id})"><li class="navigation-button">  
						<i class="fa fa-user"></i>
						<span>Mon compte</span>  
					</li></a>
					<a ui-sref="main.user.mailbox({userId : currentUser._id})"><li class="navigation-button">  
						<i class="fa fa-envelope"></i>
						<span>Messagerie</span>  
					</li></a>
					<li class="navigation-button" ng-click="logout()"> 
						<i class="fa fa-power-off"></i>
						<span>Se déconnecter</span>
					</li>
					<a ui-sref="main.project_form" id="addProject">Créer un projet	</a>
				</ul>
			</nav>

			<section class="col-md-8 col-md-offset-2 container" ui-view>		</section>
			
		</div>
		
		<div class="row fluid">
			<footer class="footer col-md-10 col-md-offset-2">		</footer>
		</div>	
	</div>