<head>
<link rel="stylesheet" href="/public/assets/stylesheets/user_form.css" />
</head>

<form name="userForm" id="formulaire" enctype="multipart/form-data">
	<!-- INFORMATIONS PERSONELLES -->
	<div class="col-md-4 col-md-offset-1">
			<!-- E-mail -->
		<input type="email"  id="mail" placeholder="Adresse mail" ng-model="user.private.mail" required/>
		<span class="verification" id="mail_verification"></span><br/>
				
			<!-- Mot de passe -->
		<input type="password"  id="password" placeholder="Mot de passe" ng-model="user.private.password" ng-class="strength" required/>
		<!-- <ul id="verificationPassword">
		</ul> -->
			
			<!-- Confirmer mot de passe -->
		<input type="password"  id="confirmPassword" placeholder="Confirmer mot de passe" ng-model="user.private.confirmPassword" repeat-password="password" required/>
		<span class="verification" id="confirmedPassword_verification"></span><br/><br/>
							
			<!-- Nom et Prénom -->
		<input type="text" name="lastName" id="lastName" placeholder="Nom" ng-model="user.public.lastName"/>
		<input type="text" name="firstName" id="firstName" placeholder="Prénom" ng-model="user.public.firstName"/>
		<br/><br/>
		
			<!-- Sexe -->
		<span>I'm a boy </span><input type="radio" name="sex" id="sex" value="man" ng-model="user.public.sex"/><br/>
		<span>I'm a girl </span><input type="radio" name="sex" id="sex" value="woman" ng-model="user.public.sex"/>
	</div>		
	
	<div class="col-md-4">
			<!-- Captcha -->
		<div re-captcha ng-model="user.captcha" class="col-md-offset-1"></div>
	</div>
</div>
	
<div class="row">
	<div class="col-md-2 col-md-offset-6">
		<button id="submit_button" type="submit" ng-disabled="score<2" ng-click="create()">Submit</button>
	</div>
</div>
</form>
	
