<div class="case row" id="headpage">
			<h1><i class="fa fa-user"></i>Profil </h1>
			<div class="col-md-5">
				<h2>  {{user.public.firstName}}  {{user.public.lastName}}  -  {{user.public.statut}} </h2>
				<p>	
					{{ user.public.town }}</br>
					{{ user.public.country }}</br>
					{{ user.public.birthDate }} </br>
				</p>
			</div>
			<div class="col-md-offset-4 col-md-3">
				<p>image</p>
			</div>
		</div>
		
		<!-- <div class="case row" class="interest">
			<h1><i class="fa fa-heart"></i>Centres d'intérêts</h1>		
			<ul>
				<li ng-repeat="interest in interests">
					<div class="col-md-3"> {{user.public.interest}} </div>
				</li>
			</ul>	
		</div>

		<div class="case row" id="formation">
			<h1><i class="fa fa-graduation-cap"></i>Formation </h1>		
			<ul>
				<li ng-repeat="group in groups">
					<div class="col-md-3"> Date </div>
					<div class="col-md-6"> Description </div>
					<div class="col-md-3">	Image-lien </div>
				</li>
			</ul>
		</div>
				

				
		<div class="case row" id="experiencePro">
			<h1><i class="fa fa-line-chart"></i>Expériences Professionnelles</h1>		
			<ul>
				<li ng-repeat="experience in experiences">
					<div class="col-md-3"> Date </div>
					<div class="col-md-6"> Description </div>
					<div class="col-md-3">	Image-lien </div>
				</li>
			</ul>
		</div>
					
		<div class="case row" class="competence">
			<h1><i class="fa fa-trophy"></i>Compétences</h1>		
			<ul>
				<li ng-repeat="competence in competences">
					<div class="col-md-3"> {{user.public.competence}} </div>
					<div class="col-md-6"> Description </div>
					<div class="col-md-3">	Image-lien </div>
				</li>
			</ul>	
		</div>
					
		<div class="case row" class="project">
			<h1><i class="fa fa-coffee"></i>Projets</h1>		
			<ul>
				<li ng-repeat="project in projects">
					<div class="col-md-3"> Date </div>
					<div class="col-md-6"> Description </div>
					<div class="col-md-3">	Image-lien </div>
				</li>
			</ul>	
		</div>
		
		<div class="case row" class="language">
			<h1><i class="fa fa-globe"></i>Langues</h1>		
			<ul>
				<li ng-repeat="language in languages">
					<div class="col-md-3"> Date </div>
					<div class="col-md-6"> Description </div>
					<div class="col-md-3">	Image-lien </div>
				</li>
			</ul>	
		</div> -->